body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFF;
  overflow: hidden;
}

#ready {
  text-align: center;
  z-index: 99999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9057CD;
  background-color: #000;
}

#topBtn {
  cursor: pointer;
  z-index: 99999;
  display: none;
}

a {
  text-decoration: none !important;
}

a:focus {
  box-shadow: none !important;
}

.main-color {
  color: #9057CD;
}

.main-bg {
  background-color: #9057CD;
}

/* navbar */
.navbar .container-navbar-brand a img {
  width: 120px;
  cursor: pointer;
}
.navbar .container-navbar-brand span {
  font-size: 14px !important;
}
.navbar .navbar-toggler {
  transition: all 0.25s;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
}
.navbar .navbar-toggler::before {
  content: "";
  position: absolute;
  width: 25px !important;
  height: 3px !important;
  background-color: #9057CD;
  transition: all 0.25s;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #9057CD;
}
.navbar .navbar-toggler::after {
  content: "";
  position: absolute;
  width: 25px !important;
  height: 3px !important;
  background-color: #9057CD;
  transition: all 0.25s;
  transform: translateY(10px);
}
.navbar .navbar-toggler.convert::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 #9057CD;
}
.navbar .navbar-toggler.convert::after {
  transform: translateY(0px) rotate(-45deg);
}
.navbar .navbar-toggler.active, .navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav li {
  margin: auto 0.5rem;
}
@media screen and (max-width: 992px) {
  .navbar .navbar-nav li {
    margin: auto;
  }
}
.navbar .navbar-nav li a {
  color: rgba(65, 41, 102, 0.6784313725);
  position: relative;
  font-weight: 600;
  transition: all 0.25s;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .navbar .navbar-nav li a {
    margin-bottom: 0.75rem;
  }
}
.navbar .navbar-nav li a::before {
  content: "";
  position: absolute;
  width: 50%;
  opacity: 0;
  height: 1px;
  background-color: #9057CD;
  bottom: 6px;
  right: 100%;
  transition: all 0.25s;
}
.navbar .navbar-nav li a.active, .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
  color: #9057CD !important;
  font-weight: 600;
}
.navbar .navbar-nav li a.active::before, .navbar .navbar-nav li a:hover::before, .navbar .navbar-nav li a:focus::before {
  right: 0% !important;
  transform: translateX(-50%) !important;
  opacity: 0.7 !important;
}
@media screen and (max-width: 992px) {
  .navbar .navbar-nav li a.active::before, .navbar .navbar-nav li a:hover::before, .navbar .navbar-nav li a:focus::before {
    display: none !important;
  }
}
.navbar .navbar-collapse {
  /* background-color: rgba(0, 0, 0, 0.9); */
  transition: all 0.5s;
}
.navbar .custome div {
  border: 1px solid #9057CD;
  border-radius: 8px;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  color: #9057CD;
  box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.26);
}
.navbar .custome .language {
  transition: all 0.25s;
}
.navbar .custome .language i {
  transition: all 0.25s;
}
.navbar .custome .language button {
  color: #9057CD;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
}
.navbar .custome .language:hover {
  background-color: #9057CD;
}
.navbar .custome .language:hover button, .navbar .custome .language:hover h5, .navbar .custome .language:hover i {
  color: #fff !important;
}

.active {
  color: #9057CD !important;
}
.active::before {
  right: 0% !important;
  transform: translateX(-50%) !important;
  opacity: 0.7 !important;
}
@media screen and (max-width: 992px) {
  .active::before {
    display: none !important;
  }
}

/* header  */
.home {
  margin-top: 50px;
  /* background-color: rgba(249, 249, 249, 0.8); */
}

.total-header {
  padding-top: 8rem;
}

.min-vh-70 {
  min-height: 70vh;
}

.caption h1 {
  font-size: 3.5rem;
}

.caption p {
  color: #636363;
  font-size: 20px;
}

.buttons a,
.buttons button {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 200px;
  font-weight: 600;
  line-height: 22px;
  transition: all 0.25s;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.907);
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer.play {
  visibility: visible;
  opacity: 1;
}

.trailer video {
  position: relative;
  width: 900px;
  outline: none;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  font-size: 30px;
}

@media screen and (max-width: 992px) {
  .trailer video {
    max-width: 90%;
  }
}
.main-btn {
  background-color: #9057CD;
  /* color: #fff; */
  border: 1px solid #9057CD;
}

.main-btn:hover {
  background-color: transparent;
  color: #9057CD;
}

.second-btn {
  background-color: transparent;
  color: #9057CD;
  border: 1px solid #9057CD;
}

.second-btn:hover {
  background-color: #9057CD;
  color: #fff;
}

.caption,
.img-header {
  position: relative;
  z-index: 2;
}

.img-phone img {
  /* height: 22rem; */
  /* position: relative; */
  /* z-index: 2; */
  transition: all 0.5s;
}

.img-phone img:hover {
  transform: scale(1.1, 1.1);
}

.vectors .vector {
  top: 50%;
}

/* Responsive header section */
@media screen and (max-width: 992px) {
  .total-header .row {
    flex-direction: column-reverse;
  }
  .total-header {
    padding-bottom: 2.5rem;
  }
  .caption,
  .img-header {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  .caption p {
    font-size: 18px;
  }
  .vectors {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .img-header > img {
    width: 65% !important;
  }
  .img-phone > img {
    width: 85% !important;
  }
  .caption h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .img-header > img {
    width: 70% !important;
  }
  .img-phone > img {
    width: 80% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .img-header > img {
    width: 70% !important;
  }
  .img-phone > img {
    width: 90% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .caption h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .img-header > img {
    width: 70% !important;
  }
  .img-phone > img {
    width: 80% !important;
  }
  .caption h1 {
    font-size: 2rem;
  }
  .buttons a {
    /* width: 150px; */
    margin-bottom: 1.25rem;
  }
}
/* @media screen and (min-width: 300px) and (max-width: 500px){
    .special-m{
        margin-bottom: 1rem;
        margin-left: 20px;
    }
} */
/* Features section */
.feature {
  width: 75%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 2.5rem;
}

.special {
  margin-left: auto;
}

.special-second {
  margin-right: auto;
}

.feature span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-right: 14px;
  border: 1px solid #9057CD;
  border-radius: 50%;
}

.feature span img {
  width: 30px;
  transition: all 0.5s;
}

.feature span img:hover {
  transform: scale(1.15, 1.15);
}

.feature p {
  color: #fff;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.25;
}

.img-feature img {
  width: 80%;
  transition: all 0.5s;
}

.img-feature img:hover {
  transform: scale(1.1, 1.1);
}

/* Responsive */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .img-feature img {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .feature {
    margin-right: auto;
    margin-left: auto;
  }
  .special {
    margin-right: auto;
  }
  .special-second {
    margin-left: auto;
  }
  .img-feature img {
    width: 25%;
  }
}
/* about us section */
.about .main-title p {
  width: 80%;
  line-height: 1.8;
  color: #636363;
  font-size: 20px;
}

.about .img-about img {
  width: 75%;
  transition: all 0.5s;
}

.about .img-about img:hover {
  transform: scale(1.1, 1.1);
}

/* Responsive */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .about .img-about img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .about .img-about img {
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  .about .main-title,
  .about .img-about {
    text-align: center;
  }
  .about .main-title p {
    margin-left: auto;
    margin-right: auto;
  }
}
/* get app section */
.parag > p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}

.parag .app {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
}

.client a,
.manager a {
  width: 60%;
}

.img-apps img {
  width: 80%;
  transition: all 0.5s;
}

.img-apps img:hover {
  transform: scale(1.1, 1.1);
}

/* Responsive */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .img-apps img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .client a,
  .manager a {
    width: 28% !important;
  }
}
@media screen and (max-width: 992px) {
  .get .main-title,
  .img-apps {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .img-apps img {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .client a,
  .manager a {
    width: 40% !important;
  }
}
/* footer */
.footer h5 {
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
}

.footer p {
  color: #ACACAC;
  letter-spacing: 1px;
  margin: 2rem 0;
}

.icons-footer a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(154, 154, 154, 0.15);
}

.icons-footer i {
  font-size: 20px;
}

.icons-footer a .fa-facebook-f {
  color: #1877f2;
}

.icons-footer a .fa-twitter {
  color: #1da1f2;
}

.icons-footer a .fa-instagram {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f09433", endColorstr="#bc1888", GradientType=1);
}

.icons-footer a .fa-whatsapp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #25d366;
  font-size: 22px !important;
}

.icons-footer a .fa-linkedin-in {
  color: #0077b5;
}

.links-navigate a {
  color: #ECECEC;
  font-weight: 500;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}

.links-navigate a:hover {
  color: #9057CD;
}

.navigate a {
  color: #ACACAC;
}

.navigate span {
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  color: #000 !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navigate span i {
  font-size: 12px;
}

.navigate div p {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: start;
}

/* Responsive footer */
/* last update */
/* @media screen and (min-width: 1400px) {
    .footer {
        margin-top: -100px;
    }
} */
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .footer {
    margin-top: -90px;
  }
}
@media screen and (max-width: 992px) {
  .icons-footer {
    justify-content: center;
  }
  .logo-footer,
  .navigate {
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/* scroll */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #9057CD;
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */