$mainColor: #9057CD;
$secondColor: #402865;
$linkColor: #412966AD;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$toggleColor: #351E15;
$paragraphColor: #5E443A;

body {
    // font-family: "Montserrat", sans-serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background-color: #FFF;
    overflow: hidden;
}

#ready {
    text-align: center;
    z-index: 99999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mainColor;
    background-color: #000;
}

#topBtn {
    cursor: pointer;
    z-index: 99999;
    display: none;
}

a {
    text-decoration: none !important;
}

a:focus {
    box-shadow: none !important;
}

.main-color {
    color: $mainColor;
}

.main-bg {
    background-color: $mainColor;
}

/* navbar */
.navbar {
    // box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.05);
    transition: all 0.5s;
    .container-navbar-brand {
        a {
            img {
                width: 120px;
                cursor: pointer;

                @media screen and (max-width: 1199.9px) {
                    width: 100px;
                }
            }
        }
        span {
            font-size: 13px !important;

            @media screen and (max-width: 1199.9px) {
                display: none;
            }
        }
    }

    .language-btn {
        display: flex;

        span {
            color: $mainColor;
        }
        @media screen and (min-width: 991.9px) {
            &.mob-view {
                display: none;
            }
        }
    }

    .navbar-toggler {
        transition: all 0.25s;
        width: 40px;
        height: 40px;
        margin-inline-end: 15px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 25px !important;
            height: 3px !important;
            background-color: $toggleColor;
            transition: all 0.25s;
            transform: translateY(-8px);
            box-shadow: 0 8px 0 $toggleColor;
        }

        &::after {
            content: '';
            position: absolute;
            width: 25px !important;
            height: 3px !important;
            background-color: $toggleColor;
            transition: all 0.25s;
            transform: translateY(8px);
        }

        &.convert {
            &::before {
                transform: translateY(0px) rotate(45deg);
                box-shadow: 0 0 0 $toggleColor;
            }

            &::after {
                transform: translateY(0px) rotate(-45deg);
            }
        }

        &.active, &:hover, &:focus {
            box-shadow: none;
        }
    }

    .navbar-nav {
        @media screen and (max-width: 991.9px) {
            margin-inline: auto;
        }
        li {
            margin: auto 0.5rem;

            @media screen and (max-width: 991.9px) {
                margin: auto;
            }

            a {
                color: $linkColor;
                position: relative;
                font-size: 14px;
                font-weight: 600;
                transition: all 0.25s;
                text-align: center;

                @media screen and (max-width: 991.9px) {
                    margin-bottom: 0.75rem;
                    color: $whiteColor;
                    font-weight: 500;
                }

                // &::before {
                //     content: '';
                //     position: absolute;
                //     width: 50%;
                //     opacity: 0;
                //     height: 1px;
                //     background-color: $mainColor;
                //     bottom: 6px;
                //     right: 100%;
                //     transition: all 0.25s;
                // }
                
                &.active, &:hover, &:focus {
                    color: $mainColor !important;
                    font-weight: 800 !important;

                    &::before {
                        right: 0% !important;
                        transform: translateX(-50%) !important;
                        opacity: 0.7 !important;
                        
                        @media screen and (max-width: 991.9px) {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
    
    .navbar-collapse {
        transition: all 0.5s;

        @media screen and (max-width: 991.9px) {
            background-color: rgba(0, 0, 0, 0.85);

            .language-btn {
                display: none !important;
            }
        }
    }

    .custome {
        @media screen and (max-width: 991.9px) {
            display: none !important;
        }
        div {
            border: 1px solid $mainColor;
            border-radius: 8px;
            background-color: transparent;
            padding: 10px;
            cursor: pointer;
            color: $mainColor;
            box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.26);
        }

        .join {
            transition: all 0.25s;

            button {
                color: $mainColor;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 13px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.25s;
            }

            &:hover {
                background-color: $mainColor;

                button {
                    color: #fff !important;
                }
            }
        }
    }

    &.second-nav {
        transition: all 0.5s;
        background-color: $blackColor !important;

        .language-btn {
            span {
                color: $whiteColor;
            }
        }
        .navbar-toggler {
            &::before {
                background-color: $whiteColor;
                box-shadow: 0 8px 0 $whiteColor;
            }
    
            &::after {
                background-color: $whiteColor;
            }
    
            &.convert {
                &::before {
                    box-shadow: 0 0 0 $whiteColor;
                }
            }
        }
        .navbar-nav {
            li {
                a {
                    color: $whiteColor;
                    font-weight: 500;
                }
            }
        }
    }
}

// .active {
//     color: $mainColor !important;
//     &::before {
//         right: 0% !important;
//         transform: translateX(-50%) !important;
//         opacity: 0.7 !important;

//         @media screen and (max-width: 991.9px) {
//             display: none !important;
//         }
//     }
// }


/* header  */
.home {
    .total-header {
        margin-top: 5rem;
    
        .container {
            background: url(../imgs/bg-header.png) #f9f3fa;
            background-position: right bottom;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 3rem 4rem 0rem;
            border-radius: 1.25rem;

            .caption {
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 45px;
                    height: 4px;
                    background-color: $mainColor;
                    left: 0;
                    right: 0;
                    top: -40px;

                    @media screen and (max-width: 992px) {
                        top: -20px;
                    }
                }
                h1 {
                    font-size: 3rem;
                    color: $secondColor;

                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        font-size: 2.5rem;
                    }
                    
                    @media screen and (max-width: 767.9px) {
                        font-size: 2rem;
                    }
                }
                p {
                    color: $paragraphColor;
                    // font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 2.5rem;
                }
            }

            .img-header {
                img {
                    height: 400px;
                }
            }
        }
    }
}

.buttons {
    button {
        font-size: 14px;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 200px;
        font-weight: 800;
        transition: all 0.25s;
        text-transform: uppercase;
        border-radius: 0.6rem;

        @media screen and (max-width: 1200px) and (min-width: 992px) {
            margin-bottom: 1rem;
        }
    
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 1rem;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-btn {
    background-color: $mainColor;
    color: $whiteColor;
    border: 1px solid transparent;
    transition: all 0.3s !important;

    &:hover {
        background-color: transparent;
        border: 1px solid $mainColor;
        color: $mainColor;
    }
}

.second-btn {
    background-color: transparent;
    color: $mainColor;
    border: 1px solid $mainColor;
    transition: all 0.3s !important;

    &:hover {
        background-color: $mainColor;
        border: 1px solid transparent;
        color: $whiteColor;
    }
}

/* Features section */

.feature {
    width: 75%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 2.5rem;
}

.special {
    margin-left: auto;
}

.special-second {
    margin-right: auto;
}

.feature span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-right: 14px;
    border: 1px solid $mainColor;
    border-radius: 50%;
}

.feature span img {
    width: 30px;
    transition: all 0.5s;
}

.feature span img:hover {
    transform: scale(1.15, 1.15);
}

.feature p {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.25;
}

.img-feature img {
    width: 80%;
    transition: all 0.5s;
}

.img-feature img:hover {
    transform: scale(1.1, 1.1);
}


/* Responsive */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .img-feature img {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .feature {
        margin-right: auto;
        margin-left: auto;
    }

    .special {
        margin-right: auto;
    }

    .special-second {
        margin-left: auto;
    }

    .img-feature img {
        width: 25%;
    }
}

/* about us section */
.about .main-title p {
    width: 80%;
    line-height: 1.8;
    color: #636363;
    font-size: 20px;
}

.about .img-about img {
    width: 75%;
    transition: all 0.5s;
}

.about .img-about img:hover {
    transform: scale(1.1, 1.1);
}

/* Responsive */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .about .img-about img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .about .img-about img {
        width: 70%;
    }
}

@media screen and (max-width: 992px) {

    .about .main-title,
    .about .img-about {
        text-align: center;
    }

    .about .main-title p {
        margin-left: auto;
        margin-right: auto;
    }
}


/* get app section */
.parag>p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
}

.parag .app {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
}

.client a,
.manager a {
    width: 60%;
}

.img-apps img {
    width: 80%;
    transition: all 0.5s;
}

.img-apps img:hover {
    transform: scale(1.1, 1.1);
}

/* Responsive */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .img-apps img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .client a,
    .manager a {
        width: 28% !important;
    }
}


@media screen and (max-width: 992px) {

    .get .main-title,
    .img-apps {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .img-apps img {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {

    .client a,
    .manager a {
        width: 40% !important;
    }
}



/* footer */
.footer h5 {
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
}

.footer p {
    color: #ACACAC;
    letter-spacing: 1px;
    margin: 2rem 0;
}

.icons-footer a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(154, 154, 154, 0.15);
}

.icons-footer i {
    font-size: 20px;
}

.icons-footer a .fa-facebook-f {
    color: #1877f2;
}

.icons-footer a .fa-twitter {
    color: #1da1f2;
}

.icons-footer a .fa-instagram {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.icons-footer a .fa-whatsapp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #25d366;
    font-size: 22px !important;
}

.icons-footer a .fa-linkedin-in {
    color: #0077b5;
}

.links-navigate a {
    color: #ECECEC;
    font-weight: 500;
    margin-bottom: 1.5rem;
    transition: all 0.3s;
}

.links-navigate a:hover {
    color: $mainColor;
}

.navigate a {
    color: #ACACAC;
}

.navigate span {
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    color: #000 !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navigate span i {
    font-size: 12px;
}

.navigate div p {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: start;
}

/* Responsive footer */
/* last update */
/* @media screen and (min-width: 1400px) {
    .footer {
        margin-top: -100px;
    }
} */

@media screen and (min-width: 992px) and (max-width: 1400px) {
    .footer {
        margin-top: -90px;
    }
}

@media screen and (max-width: 992px) {

    .icons-footer {
        justify-content: center;
    }

    .logo-footer,
    .navigate {
        width: 75% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* scroll */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 50px;
}

