$mainColor: #9057CD;
$mainBg: #F9F3FA;
$financialBg: #E2E2E225;
$getBg: #3D1E63;
$secondColor: #402865;
$thirdColor: #243673;
$linkColor: #412966AD;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$toggleColor: #351E15;
$paragraphColor: #5E443A;
$employerItemColor: #2B2B2B;
$mainShadow: 3px 3px 3px 3px rgb(0 0 0/15%);
$secondShadow: 5px 5px 20px rgb(0 0 0/20%);

body {
    // font-family: "Montserrat", sans-serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background-color: $whiteColor;
    overflow: hidden;
}

#ready {
    text-align: center;
    z-index: 99999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mainColor;
    background-color: $blackColor;
}

#topBtn {
    cursor: pointer;
    z-index: 99999;
    display: none;
}

a {
    text-decoration: none !important;
}

a:focus {
    box-shadow: none !important;
}

.main-color {
    color: $mainColor;
}

.main-bg {
    background-color: $mainColor;
}

/* navbar */
.navbar {
    // box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.05);
    transition: all 0.5s;
    .container-navbar-brand {
        a {
            img {
                width: 120px;
                cursor: pointer;
                @media screen and (max-width: 1199.9px) {
                    width: 100px;
                }
            }
        }
        span {
            font-size: 13px !important;
            @media screen and (max-width: 1199.9px) {
                display: none;
            }
        }
    }

    .language-btn {
        display: flex;
        span {
            color: $mainColor;
        }
        @media screen and (min-width: 991.9px) {
            &.mob-view {
                display: none;
            }
        }
    }

    .navbar-toggler {
        transition: all 0.3s;
        width: 40px;
        height: 40px;
        margin-inline-end: 10px;
        border: none !important;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            width: 25px !important;
            height: 3px !important;
            background-color: $toggleColor;
            transition: all 0.3s;
            transform: translateY(-8px);
            box-shadow: 0 8px 0 $toggleColor;
        }
        &::after {
            content: '';
            position: absolute;
            width: 25px !important;
            height: 3px !important;
            background-color: $toggleColor;
            transition: all 0.3s;
            transform: translateY(8px);
        }
        &.convert {
            &::before {
                transform: translateY(0px) rotate(45deg);
                box-shadow: 0 0 0 $toggleColor;
            }
            &::after {
                transform: translateY(0px) rotate(-45deg);
            }
        }
        &.active, &:hover, &:focus {
            box-shadow: none;
        }
    }

    .navbar-nav {
        @media screen and (max-width: 991.9px) {
            margin-inline: auto;
        }
        li {
            margin: auto 0.5rem;
            @media screen and (max-width: 991.9px) {
                margin: auto;
            }
            a {
                color: $linkColor;
                position: relative;
                font-size: 14px;
                font-weight: 600;
                transition: all 0.3s;
                text-align: center;
                @media screen and (max-width: 991.9px) {
                    margin-bottom: 0.75rem;
                    color: $whiteColor;
                    font-weight: 500;
                }
                // &::before {
                //     content: '';
                //     position: absolute;
                //     width: 50%;
                //     opacity: 0;
                //     height: 1px;
                //     background-color: $mainColor;
                //     bottom: 6px;
                //     right: 100%;
                //     transition: all 0.3s;
                // }
                &.active, &:hover, &:focus {
                    color: $mainColor !important;
                    font-weight: 800 !important;
                    &::before {
                        right: 0% !important;
                        transform: translateX(-50%) !important;
                        opacity: 0.7 !important;
                        @media screen and (max-width: 991.9px) {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
    
    .navbar-collapse {
        transition: all 0.5s;
        @media screen and (max-width: 991.9px) {
            background-color: rgba(0, 0, 0, 0.85);
            .language-btn {
                display: none !important;
            }
        }
    }

    .custome {
        @media screen and (max-width: 991.9px) {
            display: none !important;
        }
        div {
            border: 1px solid $mainColor;
            border-radius: 8px;
            background-color: transparent;
            padding: 10px;
            cursor: pointer;
            color: $mainColor;
            box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.26);
        }
        .join {
            transition: all 0.3s;
            button {
                color: $mainColor;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 13px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s;
            }
            &:hover {
                background-color: $mainColor;
                button {
                    color: $whiteColor !important;
                }
            }
        }
    }

    &.second-nav {
        transition: all 0.5s;
        background-color: $blackColor !important;
        .language-btn {
            span {
                color: $whiteColor;
            }
        }
        .navbar-toggler {
            &::before {
                background-color: $whiteColor;
                box-shadow: 0 8px 0 $whiteColor;
            }
            &::after {
                background-color: $whiteColor;
            }
            &.convert {
                &::before {
                    box-shadow: 0 0 0 $whiteColor;
                }
            }
        }
        .navbar-nav {
            li {
                a {
                    color: $whiteColor;
                    font-weight: 500;
                }
            }
        }
    }
}

/* header  */
.home {
    .total-header {
        margin-top: 5rem;
        @media screen and (max-width: 991.9px) {
            margin-top: 4rem;
        }
        @media screen and (max-width: 767.9px) {
            margin-top: 3rem;
        }
        .container {
            background: url(../imgs/bg-header.png) $mainBg;
            background-position: right bottom;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 3rem 4rem 0rem;
            border-radius: 1.25rem;
            .caption {
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    width: 45px;
                    height: 4px;
                    background-color: $mainColor;
                    left: 0;
                    right: 0;
                    top: -40px;
                    @media screen and (max-width: 992px) {
                        top: -20px;
                    }
                }
                h1 {
                    font-size: 3rem;
                    color: $secondColor;
                    @media screen and (min-width: 767.9px) and (max-width: 1200px) {
                        font-size: 2.5rem;
                    }
                    @media screen and (max-width: 767.9px) {
                        font-size: 2rem;
                    }
                    @media screen and (max-width: 500px) {
                        font-size: 1.5rem;
                    }
                }
                p {
                    color: $paragraphColor;
                    // font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 2.5rem;
                }
            }
            .img-header {
                img {
                    height: 400px;
                    max-width: 100%;

                    @media screen and (max-width: 500px) {
                        height: 350px;
                    }
                }
            }
            @media screen and (max-width: 576px) {
                width: 95%;
                margin-inline: auto;
            }
        }
    }
}

/* customize components  */
.buttons {
    button {
        font-size: 14px;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 200px;
        font-weight: 800;
        transition: all 0.3s;
        text-transform: uppercase;
        border-radius: 0.6rem;
        @media screen and (max-width: 1200px) and (min-width: 992px) {
            margin-bottom: 1rem;
        }
        @media screen and (max-width: 767.9px) {
            width: 100%;
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-btn {
    background-color: $mainColor;
    color: $whiteColor;
    border: 1px solid transparent;
    transition: all 0.3s !important;
    &:hover {
        background-color: transparent;
        border: 1px solid $mainColor;
        color: $mainColor;
    }
}

.second-btn {
    background-color: transparent;
    color: $mainColor;
    border: 1px solid $mainColor;
    transition: all 0.3s !important;
    &:hover {
        background-color: $mainColor;
        border: 1px solid transparent;
        color: $whiteColor;
    }
}

.main-title {
    text-align: center;
    h2 {
        color: $secondColor;
        font-weight: 600;
        padding-block: 2rem;
        margin-inline: auto;
    }
}

/* components  */
.employer, .how, .financial, .employee {
    .employer-item {
        text-align: center;
        padding: 1.5rem;
        border-radius: 0.75rem;
        transition: all 0.3s;
        h5 {
            color: $blackColor;
            font-size: 1.5rem;
            font-weight: 600;
            margin-block: 0.75rem;
        }
        p {
            color: $employerItemColor;
            margin-inline: auto;
            margin-bottom: 0;
        }
        &:hover {
            box-shadow: $secondShadow;
        }
    }
    .buttons {
        button {
            font-weight: 600;
            width: 150px;
            @media screen and (max-width: 767.9px) {
                width: 90%;
            }
        }
    }
}

.how {
    background-color: $mainBg;
    .main-title {
        h6 {
            color: $secondColor;
            font-size: 14px;
            font-weight: 600;
        }
        h2 {
            padding-top: 1rem;
            width: 55%;
            @media screen and (max-width: 991.9px) {
                width: 75%;
            }
            @media screen and (max-width: 767.9px) {
                width: 90%;
            }
        }
    }
    .employer-item {
        &:hover {
            box-shadow: none;
        }
        img {
            width: 75%;
            height: 250px;
        }
        h5 {
            margin-top: 0;
        }
        p {
            width: 80%;
            @media screen and (max-width: 767.9px) {
                width: 90%;
            }
        }
    }
}

.financial {
    background-color: $financialBg;
    .main-title {
        h2 {
            width: 90%;
        }
    }
    .employer-item {
        &:hover {
            box-shadow: $secondShadow;
        }
        h5 {
            font-size: 3.5rem;
            @media screen and (max-width: 991.9px) {
                font-size: 3rem;
            }
            @media screen and (max-width: 767.9px) {
                font-size: 2.5rem;
            }
        }
        p {
            width: 75%;
            @media screen and (max-width: 767.9px) {
                width: 90%;
            }
        }
    }
    .buttons {
        button {
            font-size: 14px;
            width: 200px;
        }
    }

}

.employee {
    .employer-item {
        p {
            width: 80%;
            @media screen and (max-width: 767.9px) {
                width: 90%;
            }
        }
    }
}

.get-app {
    color: $whiteColor;
    font-weight: 600;
    .row {
        background: url(../imgs/bg-get.png) $getBg;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5rem 4rem 0;
        border-radius: 1.25rem;
        .caption {
            padding-bottom: 4rem;
            h4 {
                margin-block: 1.5rem;
            }
            .download-app {
                display: flex;
                gap: 1rem;
                img {
                    width: 150px;
                    cursor: pointer;
                }
            }
        }
        .img-mob {
            img {
                &.main-img {
                    display: none;
                    height: 400px;
                }
                &.second-img {
                    position: absolute;
                    bottom: 0;
                    height: 450px;
                    @media screen and (max-width: 1200px) {
                        height: 400px;
                    }
                }
                @media screen and (max-width: 992px) {
                    &.main-img {
                        display: inline-flex;
                    }
                    &.second-img {
                        display: none;
                    }
                }
                @media screen and (max-width: 768px) {
                    &.main-img {
                        height: 300px;
                    }
                }
            }
        }
        @media screen and (max-width: 991.9px) {
            padding-top: 1rem;
            padding-inline: 2rem;
        }
        @media screen and (max-width: 576px) {
            width: 95%;
            margin-inline: auto;
            .caption {
                padding-bottom: 0rem;
                .download-app {
                    img {
                        width: 125px;
                    }
                }
            }
        }
    }
}

.faqs {
    background-color: $mainBg;
    .group-quiz {
        .quiz {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.75rem;
            cursor: pointer;
            @media screen and (max-width: 767.9px) {
                margin-bottom: 0.5rem;
            }
            h5 {
                color: $employerItemColor;
                font-size: 16px;
                font-weight: 700;
                text-decoration: underline;
                width: 75%;
                @media screen and (max-width: 767.9px) {
                    width: 85%;
                }
            }
            div {
                transition: all 0.3s;
                position: relative;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                cursor: pointer;
                border: 2px solid $mainColor;
                border-radius: 50%;
                &::before {
                    content: '';
                    position: absolute;
                    width: 10px !important;
                    height: 1.5px !important;
                    top: 50%;
                    left: 50%;
                    background-color: $mainColor;
                    transition: all 0.3s;
                    transform: translate(-50%, -50%);
                }
            }
            .add {
                &::after {
                    content: '';
                    position: absolute;
                    width: 1.5px !important;
                    height: 10px !important;
                    top: 50%;
                    left: 50%;
                    background-color: $mainColor;
                    transition: all 0.3s;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .answer {
            p {
                color: $secondColor;
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;
                margin-bottom: 0;
                padding-inline-start: 1.5rem;
                width: 90%;
            }
        }
    } 

    @media screen and (max-width: 991.9px) {
        .faqs hr,
        .group-quiz {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }

        .quiz h5 {
            font-size: 18px;
        }

        .group-quiz .answer p {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 767.9px) {
        .quiz h5 {
            font-size: 16px;
        }
    }

    .buttons {
        button {
            width: 150px;
        }
    }

}

.partners {
    .main-title {
        h2 {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    .carousel {
        .carousel-item {
            text-align: center;
            img {
                width: 23%;
                max-height: 250px;
                margin-inline: auto;
            }
        }
        .carousel-indicators {
            button {
                background-color: $blackColor;
                opacity: 0.2;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                margin-inline: 0.4rem;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}

.start {
    position: relative;
    .container {
        background-color: $mainBg;
        border-radius: 1.25rem;
        .main-title {
            h6 {
                color: $secondColor;
                font-size: 14px;
                font-weight: 600;
            }
            h2 {
                padding-top: 0.5rem;
                width: 60%;
                line-height: 4rem;
                @media screen and (max-width: 991.9px) {
                    width: 75%;
                    line-height: 3rem;
                    font-size: 28px !important;
                }
                @media screen and (max-width: 767.9px) {
                    width: 90%;
                    line-height: 2rem;
                    font-size: 20px !important;
                }
            }
        }
        .row {
            @media screen and (max-width: 1199.9px) {
                width: 60% !important;
            }
            @media screen and (max-width: 767.9px) {
                width: 75% !important;
            }
            .item {
                color: $thirdColor;
                display: flex;
                align-items: center;
                width: fit-content;
                margin-inline: auto;
                span {
                    white-space: nowrap;
                }
                i {
                    color: $mainColor;
                }
            }
            .buttons {
                button {
                    @media screen and (max-width: 767.9px) {
                        width: 95%;
                    }
                }
            }
        }
        @media screen and (max-width: 576px) {
            width: 95%;
            margin-inline: auto;
        }
    }
    &::before {
        position: absolute;
        content: '';
        width: 1.25rem;
        height: 1.25rem;
        border: 5px solid $mainColor;
        border-radius: 50%;
        background-color: transparent;
        left: 50%;
        right: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }
}

.contact {
    .main-title {
        text-align: start;
        h6 {
            margin-bottom: 0;
            font-weight: 600;
        }
        h3 {
            color: $secondColor;
            margin-block: 0.5rem 0.75rem;
            font-weight: 600;
        }
        .subscribe, .social-media {
            display: flex;
            align-items: center;
            gap: 1rem;
            input {
                padding: 0.5rem;
                &::placeholder {
                    font-size: 14px;
                    color: #757575;
                }
            }
            button {
                background-color: transparent;
                color: $mainColor;
                font-weight: 600;
                border: 1px solid $mainColor;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                transition: all 0.3s;
                &:hover {
                    background-color: $mainColor;
                    color: $whiteColor;
                    border: 1px solid transparent;
                }
            }
            span {
                width: 40px;
                height: 40px;
                background-color: transparent;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .subscribe {
            @media screen and (max-width: 576px) {
                flex-direction: column;
                button {
                    margin-top: 0.5rem;
                    width: 100%;
                }
            }
        }
        .social-media {
            gap: 3rem;
        }
    }
}

/* footer  */
footer {
    .container {
        background-color: $mainBg;
        border-radius: 1.25rem;
        padding: 1.5rem;
        .logo {
            img {
                width: 130px;
                cursor: pointer;
                @media screen and (max-width: 1199.9px) {
                    width: 110px;
                }
            }
        }
        .navigate {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            a, span {
                color: $linkColor;
                font-size: 15px;
                font-weight: 700;
            }
        }
        .download-app {
            display: flex;
            justify-content: center;
            gap: 1rem;
            @media screen and (max-width: 991.9px) {
                justify-content: start;
            }
            img {
                width: 150px;
                cursor: pointer;
                @media screen and (max-width: 576px) {
                    width: 125px;
                }
            }
        }
        .powered, .rights {
            h6 {
                color: $employerItemColor;
                opacity: 0.75;
                font-size: 15px;
                font-weight: 400;
                margin-bottom: 0;
                
            }
        }
        .rights {
            text-align: end;
            @media screen and (max-width: 767.9px) {
                text-align: start;
            }
        }
    }
}

/* scroll */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: $blackColor;
}

::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 50px;
}