body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #FFFFFF;
  overflow: hidden;
}

#ready {
  text-align: center;
  z-index: 99999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9057CD;
  background-color: #000000;
}

#topBtn {
  cursor: pointer;
  z-index: 99999;
  display: none;
}

a {
  text-decoration: none !important;
}

a:focus {
  box-shadow: none !important;
}

.main-color {
  color: #9057CD;
}

.main-bg {
  background-color: #9057CD;
}

/* navbar */
.navbar {
  transition: all 0.5s;
}
.navbar .container-navbar-brand a img {
  width: 120px;
  cursor: pointer;
}
@media screen and (max-width: 1199.9px) {
  .navbar .container-navbar-brand a img {
    width: 100px;
  }
}
.navbar .container-navbar-brand span {
  font-size: 13px !important;
}
@media screen and (max-width: 1199.9px) {
  .navbar .container-navbar-brand span {
    display: none;
  }
}
.navbar .language-btn {
  display: flex;
}
.navbar .language-btn span {
  color: #9057CD;
}
@media screen and (min-width: 991.9px) {
  .navbar .language-btn.mob-view {
    display: none;
  }
}
.navbar .navbar-toggler {
  transition: all 0.3s;
  width: 40px;
  height: 40px;
  margin-inline-end: 10px;
  border: none !important;
  cursor: pointer;
}
.navbar .navbar-toggler::before {
  content: "";
  position: absolute;
  width: 25px !important;
  height: 3px !important;
  background-color: #351E15;
  transition: all 0.3s;
  transform: translateY(-8px);
  box-shadow: 0 8px 0 #351E15;
}
.navbar .navbar-toggler::after {
  content: "";
  position: absolute;
  width: 25px !important;
  height: 3px !important;
  background-color: #351E15;
  transition: all 0.3s;
  transform: translateY(8px);
}
.navbar .navbar-toggler.convert::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 #351E15;
}
.navbar .navbar-toggler.convert::after {
  transform: translateY(0px) rotate(-45deg);
}
.navbar .navbar-toggler.active, .navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media screen and (max-width: 991.9px) {
  .navbar .navbar-nav {
    margin-inline: auto;
  }
}
.navbar .navbar-nav li {
  margin: auto 0.5rem;
}
@media screen and (max-width: 991.9px) {
  .navbar .navbar-nav li {
    margin: auto;
  }
}
.navbar .navbar-nav li a {
  color: rgba(65, 41, 102, 0.6784313725);
  position: relative;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
  text-align: center;
}
@media screen and (max-width: 991.9px) {
  .navbar .navbar-nav li a {
    margin-bottom: 0.75rem;
    color: #FFFFFF;
    font-weight: 500;
  }
}
.navbar .navbar-nav li a.active, .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
  color: #9057CD !important;
  font-weight: 800 !important;
}
.navbar .navbar-nav li a.active::before, .navbar .navbar-nav li a:hover::before, .navbar .navbar-nav li a:focus::before {
  right: 0% !important;
  transform: translateX(-50%) !important;
  opacity: 0.7 !important;
}
@media screen and (max-width: 991.9px) {
  .navbar .navbar-nav li a.active::before, .navbar .navbar-nav li a:hover::before, .navbar .navbar-nav li a:focus::before {
    display: none !important;
  }
}
.navbar .navbar-collapse {
  transition: all 0.5s;
}
@media screen and (max-width: 991.9px) {
  .navbar .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .navbar .navbar-collapse .language-btn {
    display: none !important;
  }
}
@media screen and (max-width: 991.9px) {
  .navbar .custome {
    display: none !important;
  }
}
.navbar .custome div {
  border: 1px solid #9057CD;
  border-radius: 8px;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  color: #9057CD;
  box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.26);
}
.navbar .custome .join {
  transition: all 0.3s;
}
.navbar .custome .join button {
  color: #9057CD;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar .custome .join:hover {
  background-color: #9057CD;
}
.navbar .custome .join:hover button {
  color: #FFFFFF !important;
}
.navbar.second-nav {
  transition: all 0.5s;
  background-color: #000000 !important;
}
.navbar.second-nav .language-btn span {
  color: #FFFFFF;
}
.navbar.second-nav .navbar-toggler::before {
  background-color: #FFFFFF;
  box-shadow: 0 8px 0 #FFFFFF;
}
.navbar.second-nav .navbar-toggler::after {
  background-color: #FFFFFF;
}
.navbar.second-nav .navbar-toggler.convert::before {
  box-shadow: 0 0 0 #FFFFFF;
}
.navbar.second-nav .navbar-nav li a {
  color: #FFFFFF;
  font-weight: 500;
}

/* header  */
.home .total-header {
  margin-top: 5rem;
}
@media screen and (max-width: 991.9px) {
  .home .total-header {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 767.9px) {
  .home .total-header {
    margin-top: 3rem;
  }
}
.home .total-header .container {
  background: url(../imgs/bg-header.png) #F9F3FA;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 3rem 4rem 0rem;
  border-radius: 1.25rem;
}
.home .total-header .container .caption {
  position: relative;
}
.home .total-header .container .caption::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 4px;
  background-color: #9057CD;
  left: 0;
  right: 0;
  top: -40px;
}
@media screen and (max-width: 992px) {
  .home .total-header .container .caption::before {
    top: -20px;
  }
}
.home .total-header .container .caption h1 {
  font-size: 3rem;
  color: #402865;
}
@media screen and (min-width: 767.9px) and (max-width: 1200px) {
  .home .total-header .container .caption h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767.9px) {
  .home .total-header .container .caption h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .home .total-header .container .caption h1 {
    font-size: 1.5rem;
  }
}
.home .total-header .container .caption p {
  color: #5E443A;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.home .total-header .container .img-header img {
  height: 400px;
  max-width: 100%;
}
@media screen and (max-width: 500px) {
  .home .total-header .container .img-header img {
    height: 350px;
  }
}
@media screen and (max-width: 576px) {
  .home .total-header .container {
    width: 95%;
    margin-inline: auto;
  }
}

/* customize components  */
.buttons button {
  font-size: 14px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 200px;
  font-weight: 800;
  transition: all 0.3s;
  text-transform: uppercase;
  border-radius: 0.6rem;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .buttons button {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767.9px) {
  .buttons button {
    width: 100%;
    margin-bottom: 1rem;
  }
  .buttons button:last-child {
    margin-bottom: 0;
  }
}

.main-btn {
  background-color: #9057CD;
  color: #FFFFFF;
  border: 1px solid transparent;
  transition: all 0.3s !important;
}
.main-btn:hover {
  background-color: transparent;
  border: 1px solid #9057CD;
  color: #9057CD;
}

.second-btn {
  background-color: transparent;
  color: #9057CD;
  border: 1px solid #9057CD;
  transition: all 0.3s !important;
}
.second-btn:hover {
  background-color: #9057CD;
  border: 1px solid transparent;
  color: #FFFFFF;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  color: #402865;
  font-weight: 600;
  padding-block: 2rem;
  margin-inline: auto;
}

/* components  */
.employer .employer-item, .how .employer-item, .financial .employer-item, .employee .employer-item {
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.75rem;
  transition: all 0.3s;
}
.employer .employer-item h5, .how .employer-item h5, .financial .employer-item h5, .employee .employer-item h5 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-block: 0.75rem;
}
.employer .employer-item p, .how .employer-item p, .financial .employer-item p, .employee .employer-item p {
  color: #2B2B2B;
  margin-inline: auto;
  margin-bottom: 0;
}
.employer .employer-item:hover, .how .employer-item:hover, .financial .employer-item:hover, .employee .employer-item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.employer .buttons button, .how .buttons button, .financial .buttons button, .employee .buttons button {
  font-weight: 600;
  width: 150px;
}
@media screen and (max-width: 767.9px) {
  .employer .buttons button, .how .buttons button, .financial .buttons button, .employee .buttons button {
    width: 90%;
  }
}

.how {
  background-color: #F9F3FA;
}
.how .main-title h6 {
  color: #402865;
  font-size: 14px;
  font-weight: 600;
}
.how .main-title h2 {
  padding-top: 1rem;
  width: 55%;
}
@media screen and (max-width: 991.9px) {
  .how .main-title h2 {
    width: 75%;
  }
}
@media screen and (max-width: 767.9px) {
  .how .main-title h2 {
    width: 90%;
  }
}
.how .employer-item:hover {
  box-shadow: none;
}
.how .employer-item img {
  width: 75%;
  height: 250px;
}
.how .employer-item h5 {
  margin-top: 0;
}
.how .employer-item p {
  width: 80%;
}
@media screen and (max-width: 767.9px) {
  .how .employer-item p {
    width: 90%;
  }
}

.financial {
  background-color: rgba(226, 226, 226, 0.1450980392);
}
.financial .main-title h2 {
  width: 90%;
}
.financial .employer-item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.financial .employer-item h5 {
  font-size: 3.5rem;
}
@media screen and (max-width: 991.9px) {
  .financial .employer-item h5 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 767.9px) {
  .financial .employer-item h5 {
    font-size: 2.5rem;
  }
}
.financial .employer-item p {
  width: 75%;
}
@media screen and (max-width: 767.9px) {
  .financial .employer-item p {
    width: 90%;
  }
}
.financial .buttons button {
  font-size: 14px;
  width: 200px;
}

.employee .employer-item p {
  width: 80%;
}
@media screen and (max-width: 767.9px) {
  .employee .employer-item p {
    width: 90%;
  }
}

.get-app {
  color: #FFFFFF;
  font-weight: 600;
}
.get-app .row {
  background: url(../imgs/bg-get.png) #3D1E63;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 4rem 0;
  border-radius: 1.25rem;
}
.get-app .row .caption {
  padding-bottom: 4rem;
}
.get-app .row .caption h4 {
  margin-block: 1.5rem;
}
.get-app .row .caption .download-app {
  display: flex;
  gap: 1rem;
}
.get-app .row .caption .download-app img {
  width: 150px;
  cursor: pointer;
}
.get-app .row .img-mob img.main-img {
  display: none;
  height: 400px;
}
.get-app .row .img-mob img.second-img {
  position: absolute;
  bottom: 0;
  height: 450px;
}
@media screen and (max-width: 1200px) {
  .get-app .row .img-mob img.second-img {
    height: 400px;
  }
}
@media screen and (max-width: 992px) {
  .get-app .row .img-mob img.main-img {
    display: inline-flex;
  }
  .get-app .row .img-mob img.second-img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .get-app .row .img-mob img.main-img {
    height: 300px;
  }
}
@media screen and (max-width: 991.9px) {
  .get-app .row {
    padding-top: 1rem;
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .get-app .row {
    width: 95%;
    margin-inline: auto;
  }
  .get-app .row .caption {
    padding-bottom: 0rem;
  }
  .get-app .row .caption .download-app img {
    width: 125px;
  }
}

.faqs {
  background-color: #F9F3FA;
}
.faqs .group-quiz .quiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  cursor: pointer;
}
@media screen and (max-width: 767.9px) {
  .faqs .group-quiz .quiz {
    margin-bottom: 0.5rem;
  }
}
.faqs .group-quiz .quiz h5 {
  color: #2B2B2B;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  width: 75%;
}
@media screen and (max-width: 767.9px) {
  .faqs .group-quiz .quiz h5 {
    width: 85%;
  }
}
.faqs .group-quiz .quiz div {
  transition: all 0.3s;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid #9057CD;
  border-radius: 50%;
}
.faqs .group-quiz .quiz div::before {
  content: "";
  position: absolute;
  width: 10px !important;
  height: 1.5px !important;
  top: 50%;
  left: 50%;
  background-color: #9057CD;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.faqs .group-quiz .quiz .add::after {
  content: "";
  position: absolute;
  width: 1.5px !important;
  height: 10px !important;
  top: 50%;
  left: 50%;
  background-color: #9057CD;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.faqs .group-quiz .answer p {
  color: #402865;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
  padding-inline-start: 1.5rem;
  width: 90%;
}
@media screen and (max-width: 991.9px) {
  .faqs .faqs hr,
  .faqs .group-quiz {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .faqs .quiz h5 {
    font-size: 18px;
  }
  .faqs .group-quiz .answer p {
    font-size: 15px;
  }
}
@media screen and (max-width: 767.9px) {
  .faqs .quiz h5 {
    font-size: 16px;
  }
}
.faqs .buttons button {
  width: 150px;
}

.partners .main-title h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.partners .carousel .carousel-item {
  text-align: center;
}
.partners .carousel .carousel-item img {
  width: 23%;
  max-height: 250px;
  margin-inline: auto;
}
.partners .carousel .carousel-indicators button {
  background-color: #000000;
  opacity: 0.2;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-inline: 0.4rem;
}
.partners .carousel .carousel-indicators button.active {
  opacity: 1;
}

.start {
  position: relative;
}
.start .container {
  background-color: #F9F3FA;
  border-radius: 1.25rem;
}
.start .container .main-title h6 {
  color: #402865;
  font-size: 14px;
  font-weight: 600;
}
.start .container .main-title h2 {
  padding-top: 0.5rem;
  width: 60%;
  line-height: 4rem;
}
@media screen and (max-width: 991.9px) {
  .start .container .main-title h2 {
    width: 75%;
    line-height: 3rem;
    font-size: 28px !important;
  }
}
@media screen and (max-width: 767.9px) {
  .start .container .main-title h2 {
    width: 90%;
    line-height: 2rem;
    font-size: 20px !important;
  }
}
@media screen and (max-width: 1199.9px) {
  .start .container .row {
    width: 60% !important;
  }
}
@media screen and (max-width: 767.9px) {
  .start .container .row {
    width: 75% !important;
  }
}
.start .container .row .item {
  color: #243673;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.start .container .row .item span {
  white-space: nowrap;
}
.start .container .row .item i {
  color: #9057CD;
}
@media screen and (max-width: 767.9px) {
  .start .container .row .buttons button {
    width: 95%;
  }
}
@media screen and (max-width: 576px) {
  .start .container {
    width: 95%;
    margin-inline: auto;
  }
}
.start::before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border: 5px solid #9057CD;
  border-radius: 50%;
  background-color: transparent;
  left: 50%;
  right: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.contact .main-title {
  text-align: start;
}
.contact .main-title h6 {
  margin-bottom: 0;
  font-weight: 600;
}
.contact .main-title h3 {
  color: #402865;
  margin-block: 0.5rem 0.75rem;
  font-weight: 600;
}
.contact .main-title .subscribe, .contact .main-title .social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact .main-title .subscribe input, .contact .main-title .social-media input {
  padding: 0.5rem;
}
.contact .main-title .subscribe input::-moz-placeholder, .contact .main-title .social-media input::-moz-placeholder {
  font-size: 14px;
  color: #757575;
}
.contact .main-title .subscribe input::placeholder, .contact .main-title .social-media input::placeholder {
  font-size: 14px;
  color: #757575;
}
.contact .main-title .subscribe button, .contact .main-title .social-media button {
  background-color: transparent;
  color: #9057CD;
  font-weight: 600;
  border: 1px solid #9057CD;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
.contact .main-title .subscribe button:hover, .contact .main-title .social-media button:hover {
  background-color: #9057CD;
  color: #FFFFFF;
  border: 1px solid transparent;
}
.contact .main-title .subscribe span, .contact .main-title .social-media span {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact .main-title .subscribe span img, .contact .main-title .social-media span img {
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 576px) {
  .contact .main-title .subscribe {
    flex-direction: column;
  }
  .contact .main-title .subscribe button {
    margin-top: 0.5rem;
    width: 100%;
  }
}
.contact .main-title .social-media {
  gap: 3rem;
}

/* footer  */
footer .container {
  background-color: #F9F3FA;
  border-radius: 1.25rem;
  padding: 1.5rem;
}
footer .container .logo img {
  width: 130px;
  cursor: pointer;
}
@media screen and (max-width: 1199.9px) {
  footer .container .logo img {
    width: 110px;
  }
}
footer .container .navigate {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
footer .container .navigate a, footer .container .navigate span {
  color: rgba(65, 41, 102, 0.6784313725);
  font-size: 15px;
  font-weight: 700;
}
footer .container .download-app {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 991.9px) {
  footer .container .download-app {
    justify-content: start;
  }
}
footer .container .download-app img {
  width: 150px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  footer .container .download-app img {
    width: 125px;
  }
}
footer .container .powered h6, footer .container .rights h6 {
  color: #2B2B2B;
  opacity: 0.75;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}
footer .container .rights {
  text-align: end;
}
@media screen and (max-width: 767.9px) {
  footer .container .rights {
    text-align: start;
  }
}

/* scroll */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #9057CD;
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */